body {
  background:#0f172a;
  color:#e5e7eb;
  font-family:sans-serif;
  text-align:center;
}

.card {
  background:#020617;
  padding:20px;
  border-radius:20px;
  width:300px;
  margin:auto;
}

.bar {
  background:#1e293b;
  border-radius:20px;
  height:20px;
  overflow:hidden;
}

#fill {
  height:100%;
  width:0%;
  background:#22c55e;
  transition:width .6s;
}

button {
  margin:10px;
  padding:10px 20px;
  border-radius:10px;
  border:none;
}
